<mat-toolbar color="warm" class="expanded-toolbar">
    <span>
    <button mat-button routerLink="/">{{title}}</button>
    <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
  </span>
    <span>
    <button mat-button *ngIf="!isAuthenticated" routerLink="/login"> Login </button>
    <button mat-button *ngIf="isAuthenticated" (click)="logout()"> Logout </button>
  </span>
    <!-- <button mat-button routerLink="/calculator"><mat-icon>dialpad</mat-icon></button> -->
    <a href="http://api.adrianrossing.com/">
        <mat-icon>code</mat-icon>
    </a>

</mat-toolbar>
<router-outlet></router-outlet>